.container{
  display: flex;
  gap: 10px;
}

.select{
  padding: 10px;
  font-size: 1rem;
  width: 200px;
  border-radius: 5px;
  border: none;
}

.btn{
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
}

.btn:hover{
  cursor: pointer;
  background-color: #00BFFF;
  border: none;
}