.container{
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
}

.btnContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn{
  all:unset;
  color: #fff;
  padding: 10px;
  font-size: 1.1rem;
}

.btn:hover{
  color: #00BFFF;
  cursor: pointer;
}

.answer{
  padding: 10px;
  font-size: 1rem;
  width: 250px;
  border-radius: 5px;
  border: none;
}