.container{
  border: 1px solid #777;
  aspect-ratio: 1 / 1; 
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  perspective: 1000px;
  cursor: pointer;
}

.cardContainer {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}

.img{
  width: 100%;
  height: 100%;
  object-fit: contain; 
}

.back {
  transform: rotateY(180deg);
  background: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer{
  font-family:'roboto', sans-serif;
  font-size: 1rem;
  text-align: center;
  color: #fff;
}

.flipped{
   transform: rotateY(180deg);
}

.correct::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(27, 255, 27, 0.4); 
  border-radius: 8px; 
}

.wrong::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 0, 0, 0.4);
  border-radius: 8px; 
}