.container{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 600px;
  transform: translate(-50%, -50%);
  background: #000;
  display: flex;
  flex-direction: column;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #777;
  padding: 10px 16px;
}

.text{
  font-size: clamp(1.1rem, 1vw, 1.3rem);
}

.close{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5rem;
}

.close:hover{
  color: #ff4a4a;
}