.container {
  position: relative;
  --wheel-size: min(90vmin, 500px);
  --item-size: calc(var(--wheel-size) / 11);
  width: var(--wheel-size);
  height: var(--wheel-size);
  list-style: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
  position: relative;
  transform: rotate(-90deg); 
}

.letter {
  all: unset;
  position: absolute;
  width: var(--item-size);
  height: var(--item-size);
  line-height: var(--item-size);
  font-size: calc(var(--item-size) * 0.5); 
  background-color: #fff;
  color: #000;
  font-weight: bold;
  font-size: clamp(0.8rem, 2.5vmin, 1.1rem);
  font-family: 'Nunito', sans-serif;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  --radius: calc((var(--wheel-size) / 2) - (var(--item-size) / 2));
  transform: 
    rotate(calc(360deg / var(--total) * var(--i))) 
    translate(var(--radius))
    rotate(calc(-360deg / var(--total) * var(--i) + 90deg));
}

.pending {
  background-color: #03A9F4;
}

.wrong {
  background-color: #f44336;
}

.correct {
  background-color: #4CAF50;
}

.questionsCard {
  width: calc(var(--wheel-size) - 4rem); 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10; 
  background: transparent;
  padding: 1rem;
}

.answer{
  color: #fff;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -10%) rotate(90deg);
  font-size: clamp(0.8rem, 2.5vmin, 1.1rem);
  font-family: 'Nunito', sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
  z-index: 10;
  pointer-events: none; 
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.answer.show {
  opacity: 1;
}