@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

.container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 20px 0;
}

.gridContainer{
  display: grid;
  grid-template-columns: repeat(3, min(15vw, 100px));
  gap: 5px;
}

.info{
  grid-column: 1 / 3;
  height: 15vw;
  max-height: 100px;
  border: 1px solid #777;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoText{
  font-family: "Luckiest Guy", 'roboto', sans-serif;
  font-size: clamp(1.3rem, 3vw, 3rem);
  text-align: center;
  color: #fff;
}

.turn{
  border: 1px solid #777;
  aspect-ratio: 1 / 1; 
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vw;
  max-height: 100px;
}

.img{
  width: 100%;
  height: 100%;
  object-fit: contain; 
}