.container {
  display: flex;
  gap: 12px; 
  align-items: center;
  justify-content: center; 
  width: 100%; 
  flex-wrap: wrap; 
  padding: 10px; 
}

.btns{
  display: flex;
  gap: 5px;
}

.btn {
  padding: 8px 10px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: transparent;
  font-size: clamp(0.9rem, 2vw, 1.1rem); 
  cursor: pointer;
  transition: all 0.2s ease; 
  white-space: nowrap; 
}

.btn:hover {
  background-color: #38bdf8;
  color: #000;
  font-weight: 500; 
}

.selected {
  background-color: #38bdf8;
  color: #000;
  font-weight: 500; 
}

.containerSwitch {
  display: flex;
  align-items: center;
  gap: 8px; 
}

.text {
  color: #fff;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  text-align: center;
}

.switchToggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e03535;
  transition: 0.4s;
  border-radius: 50px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}


.switch:checked + .slider {
  background-color: #38bdf8;
}

.switch:checked + .slider::before {
  transform: translateX(22px);
}


.alert {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);

  background: rgba(0, 0, 0, 0.7); 
  backdrop-filter: blur(10px);    
  -webkit-backdrop-filter: blur(10px);
  
  padding: 12px 20px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1); 

  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  z-index: 1000;
}
