.container{
  border: 1px solid #777;
  aspect-ratio: 1 / 1; 
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  perspective: 1000px;
  cursor: pointer;
}

.img{
  width: 100%;
  height: 100%;
  object-fit: contain; 
}