.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  padding: 10px;
}

.img {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 50%;      
  object-fit: contain;    
  padding: 15px;           
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2); 
}

.text{
  font-size: clamp(1.1rem, 1.1vw, 1.3rem);
  color: #fff;
  font-weight: bold;
  padding: 10px;
}